.blue-title {
    color: #3e8daf;
}
h2{
    color: #3ea7af;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.card-blog{
    display: flex;
    justify-content: center;
}
.card{
    background-color: #6bc3a3;
    margin: 1rem;
    border: none;
    border-radius: 4rem;
}
.card-text{
    text-align: center;
}
.btn-blog{
  display: flex;
  justify-content: center;
  background-color: #6bc3a3;
  padding-bottom: 1rem;
}
.button-blog{
    background-color: #3ea7af;
    color: #ffffff;
    border-radius: 30px;
    border: none;
}
.button-blog:hover{
    background-color: #2a637a;
    font-weight: bold;
}